Feature Request: TLS 1.3 Support with Encrypted SNI

Today, [Encrypted SNI Comes to Firefox Nightly](https://blog.mozilla.org/security/2018/10/18/encrypted-sni-comes-to-firefox-nightly/)
And, 
[Every cloudflare site supports encrypted SNI](https://blog.cloudflare.com/encrypted-sni/)

If a v2ray server behind Cloudflare uses encrypted SNI, it would be almost impossible to ban it. 
But, of course, the implementation of this feature must be after the widespread of the ESNI(Which means chrome stable version would use ESNI for every Cloudflare website by default).

**So please consider this issue carefully.**

Reference:
https://tools.ietf.org/html/draft-ietf-tls-esni-01

> 
>    Although TLS 1.3 [RFC8446] encrypts most of the handshake, including
>    the server certificate, there are several other channels that allow
>    an on-path attacker to determine the domain name the client is trying
>    to connect to, including:
> 
>    o  Cleartext client DNS queries.
> 
>    o  Visible server IP addresses, assuming the the server is not doing
>       domain-based virtual hosting.
> 
>    o  Cleartext Server Name Indication (SNI) [RFC6066] in ClientHello
>       messages.
> 
>    DoH [I-D.ietf-doh-dns-over-https] and DPRIVE [RFC7858] [RFC8094]
>    provide mechanisms for clients to conceal DNS lookups from network
>    inspection, and many TLS servers host multiple domains on the same IP
>    address.  In such environments, SNI is an explicit signal used to
>    determine the server's identity.  Indirect mechanisms such as traffic
>    analysis also exist.
> 
>    The TLS WG has extensively studied the problem of protecting SNI, but
>    has been unable to develop a completely generic solution.
>    [I-D.ietf-tls-sni-encryption] provides a description of the problem
>    space and some of the proposed techniques.  One of the more difficult
>    problems is "Do not stick out" ([I-D.ietf-tls-sni-encryption];
>    Section 3.4): if only sensitive/private services use SNI encryption,
>    then SNI encryption is a signal that a client is going to such a
>    service.  For this reason, much recent work has focused on concealing
>    the fact that SNI is being protected.  Unfortunately, the result
>    often has undesirable performance consequences, incomplete coverage,
>    or both.
> 
>    The design in this document takes a different approach: it assumes
>    that private origins will co-locate with or hide behind a provider
>    (CDN, app server, etc.) which is able to activate encrypted SNI
>    (ESNI) for all of the domains it hosts.  Thus, the use of encrypted
>    SNI does not indicate that the client is attempting to reach a
>    private origin, but only that it is going to a particular service
>    provider, which the observer could already tell from the IP address.

@Cwek 
> the implementation of this feature must be after the widespread of the ESNI

I want an official reply.

@cbwang2016 
I suggest that you first ask when ESNI's standardization is complete, then ask the golang developers when to implement ESNI into the TLS component, and finally ask the V2 developers when to use the ESNI feature.

Look too far, be careful to trip over the laces under your feet.

@Cwek If Firefox had added support for it, and Cloudflare had enabled it on ALL SITES USING THEIR CDN, the standardization wouldn't be too far.

The DTLS’s standard has been around for a long time, but the manual is also written to 'V2's TLS is implemented by golang, so no DTLS'. So if the TLS implement of golang support DTLS, then it will have the DTLS feather. Maybe also for ESNI.

Language it not a big deal after popularization.

@cbwang2016 
Ok, just wait.


> Language it not a big deal after popularization.

[https://github.com/golang/go/issues/13525]()


Hey guys, thanks for great job. Would be great realise eSNI in v2ray with Cloudflare [GoLang](https://github.com/cloudflare/tls-tris). Thanks!

It's been almost 2 years since the opening of this issue. What are the circumstances now?